.swiper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-57%, 3%);
    width: 400px;
    height: 185px;
    overflow: hidden;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 6000px;
    height: 100%;
    transition: 10s ease;
}

.swiper-slide {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 250px;
    height: 100px;
    border-radius: 10px;
}